<div class="card h-100 bg-light text-dark border-0">
    <div class="card-body">
        <h4>@item.title</h4> 
        <small>@item.description</small><br />
        <small>количество: @item.count</small><br/>
        <small>цена: @item.price</small>
    </div>
    <img class="img-fluid rounded-bottom" src="@item.image"/>
</div>

@code {
    [Parameter]
    public product item { get; set; } = new product();
}
